*{
  margin: 0;
  padding: 0;
}


#demoObject {
-webkit-box-shadow: 0px 8px 11px 2px #000000c1; 
box-shadow: 0px 8px 11px 2px #000000b0;
background-color: #00000079;
backdrop-filter: saturate(200%) blur(25px);
}

body#tinymce {
background: #FFFFFF
}


.background-image {
  background-image: url(../fotos/fondologin.jpg   );
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}


.bg-glass {
  background-color: hsla(0, 0%, 100%, 0.574) !important;
  backdrop-filter: saturate(200%) blur(25px);
 }

